[submodule "public"]
	path = public
	url = https://github.com/domicmeia/domicmeia.github.io.git
	branch = gh-pages
[submodule "themes/github-style-plus"]
	path = themes/github-style-plus
	url = https://github.com/kurt-liao/github-style-plus
